
html {
    scroll-behavior: smooth;
  }

.MainPage {
    margin: 100;
}
.logo {
    height: 100px;
    width: 80px;
}

.logo:hover{
    transform: scale(1.1);
}

.nav-style {
    background-color: #0A081D;
}

.text-style {
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: medium;
    transition: all .2s ease-in-out;
}   
.text-style:hover {
    transform: scale(1.1);
}
.resume {
    border: yellow;
}

a:hover {
    color: yellow;
    text-decoration: none;
}

.intro-start{
    color: #01E0F3;
    font-family: Verdana;
    font-size: 120%
}

.intro-name{
    color: #CCD6F6;
    font-family:  'Calibri';
    font-size: 400%
}
.intro-do  {
    color: #8892B0;
    font-family: 'Calibri';
    font-size: 400%
}

.intro-detail{
    color: #8892B0;
    font-family:Verdana;
}

.test:hover{
    /* margin-top: 200%; */
    transform: scale(1.1);
}

.headings {
    font-family: 'Calibri';
    font-size: 30px;
    color: white;
    font-weight: 300;
}

.margin {
    margin-top: 30vh;
    overflow: hidden;
    padding-top: 150px;
}

.horizontal {
    border: 1px solid #8892B0;
}

.para-style{
    font-family: Verdana;
    /* font-size: 18px; */
    color: #8892B0
}

.anchor-style{
    color: #01E0F3;
}

.label-style:hover{
    /* border: solid; */
    /* border-color:#01E0F3; */
    transform: scale(1.1);
}

.photo{
    height: 300px;
    width: 300px;
    position: absolute;
    
}

.photo:hover{
    transform: scale(1.1);
}

.max-size{
    width: 150px;
    max-width: 150px;
}

.image-style{
    margin-top: 150px
}

.company-logo{
    height: 200px;
    width: 300px;
    position: absolute;
}

.company-logo:hover{
    transform: scale(1.1);
}

.button-style{
    border: 1px solid #8892B0;
    color: white;
    font-family: Verdana;
    background-color:  #0A081D;
}

.button-style:hover{
    color: yellow;
    transform: scale(1.1);
}

.place-year{
    display: inline-block;
}


.card-background{
    /* padding: 10px; */
    background-color:#0A081D ;
    /* border:solid; */
    /* border-color: grey; */
    width: 30rem;
    /* align-items: center; */
}

.card-image{
     height: 20rem;
     width:20rem;
     padding: 10px;
     /* padding-left: 100px; */
     /* align-items: center; */
}

.card-image:hover{
    transform: scale(1.1);
}


.github {
    /* background-color:#0A081D ; */
    color: white;
}

.fa-github:hover {
    /* background-color:#0A081D ; */
    transform: scale(1.1);
}

.card-image-book{
    height: 20rem;
    width:30rem;
    padding: 10px;
    padding-top: 40px
    /* padding-left: 100px; */
    /* align-items: center; */
}

.card-image-book:hover{
    transform: scale(1.1);
}

.head:hover{
    transform: scale(1.1);
}

.contact{
    align-items: center;
    text-align: center;

}

.footer {
    color: #8892B0;
    font-size: 12px;
    font-family: Verdana;
}

.footer-margin {
    margin-top: 20vh;
}


.logo {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
.logo:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }



/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
